<div class="container">
  <a href="#" routerLink="/student/index" class="btn btn-primary">Volver</a>
  <h1>Ver estudiante</h1>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Pais</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ student?.id }}</td>
          <td>{{ student?.firstName }}</td>
          <td>{{ student?.lastName }}</td>
          <td>{{ student?.country }}</td>
          <td>{{ student?.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <strong>Cursos:</strong>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courses of student?.courses">
          <td>{{ courses?.id }}</td>
          <td>{{ courses?.courseName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div></div>
</div>
