<div class="container">
    <h1>Editar curso</h1>

    <a href="#" routerLink="/course/index" class="btn btn-primary">Back</a>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="courseName">Nombre del curso:</label>
            <input 
                formControlName="courseName"
                id="courseName" 
                type="text" 
                class="form-control">
            <!-- <div *ngIf="f['firstName'].touched & f['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstName'].errors & f['firstName'].errors['required']">
                Nombre es requerido.
                </div>
            </div> -->
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>