<div class="container">
    <h1>CRUD para curso</h1>
    
    <a href="#" [routerLink]="['/course/create']" class="btn btn-success">Crear nuevo curso</a>
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let course of courseList">
                <td>{{ course?.id }}</td>
                <td>{{ course?.courseName }}</td>

                <td>
                  <a href="#" [routerLink]="['/course/', course?.id, 'view']" class="btn btn-info">Ver</a>
                  <a href="#" [routerLink]="['/course/', course?.id, 'edit']" class="btn btn-primary">Editar</a>
                  <button type="button" (click)="deleteCourse(course.id)" [disabled]="course.id === idDeshabilitado" class="btn btn-danger">Borrar</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>

