<div class="container">
    <a href="#" [routerLink]="['/course/index']" class="btn btn-primary">Volver</a>
    <h1>Ver cursos</h1>   
    <div>
        <table class="table table-striped">
            <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                  </tr>
            </thead>
            <tbody>
                  <tr>
                    <td>{{ course?.id }}</td>
                    <td>{{ course?.courseName }}</td>
                  </tr>
            </tbody>
        </table>

    </div>   
    <div>
        <strong>Estudiantes:</strong>
        <table class="table table-striped">
            <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Pais</th>
                    <th>Emial</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let student of course?.student">
                    <td>{{ student?.id }}</td>
                    <td>{{ student?.firstName }}</td>
                    <td>{{ student?.lastName }}</td>
                    <td>{{ student?.country }}</td>
                    <td>{{ student?.email }}</td>
                  </tr>
            </tbody>
        </table>
    </div> 
   
</div>