<div class="container">
    <h1>Ver cursos</h1>
  
    <a href="#" routerLink="/course/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Id:</strong>
        <p>{{ course?.id }}</p>
    </div>
    
    <div>
        <strong>Nombre:</strong>
        <p>{{ course?.courseName }}</p>
    </div>
   
    <div>
        <strong>Estudiantes:</strong>
        <table class="table table-striped">
            <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Pais</th>
                    <th>Emial</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let student of course?.student">
                    <td>{{ student?.id }}</td>
                    <td>{{ student?.firstName }}</td>
                    <td>{{ student?.lastName }}</td>
                    <td>{{ student?.country }}</td>
                    <td>{{ student?.email }}</td>
                  </tr>
            </tbody>
        </table>
    </div> 
   
</div>